[submodule "bundler"]
	path = bundler
	url = https://github.com/eth-infinitism/bundler
[submodule "lib/bundler"]
	path = lib/bundler
	url = https://github.com/eth-infinitism/bundler
[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
